@model List<Wedding>

<h2>Welcome to Wedding Planner</h2>

<table class="table">
  <thead>
    <tr>
      <th>Wedding</th>
      <th>Date</th>
      <th>Guest</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Wedding wedding in Model)
    {
      bool alreadyAttending = wedding.Guests.Any(guest => guest.UserId == Context.Session.GetInt32("UserId"));

      <tr>
        <td><a asp-controller="Wedding" asp-action="ViewOneWedding"
          asp-route-weddingId="@wedding.WeddingId">@wedding.WedderOne & @wedding.WedderTwo</a>
        </td>
        <td>@wedding.Date.ToString("MMMM dd yyyy")</td>
        <td>@wedding.Guests.Count</td>
        <td>
          <form asp-controller="Wedding" asp-action="JoinWedding" asp-route-weddingId="@wedding.WeddingId" method="POST">
            <button>
              @if (alreadyAttending)
              {
                <span>Unattend</span>
              }
              else
              {
                <span>RSVP</span>
              }
            </button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>

<a class="btn btn-success" asp-controller="Wedding" asp-action="Create">New Wedding</a>